.header{
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('./../../images/headerbg.jpg') center no-repeat;
  background-size: cover;
  color: white;
}

.logo{
  color: #f55263;
  padding: 10px 0;
  font-weight: bold;
}